<header class="header-admin">
    <div class="grid">
        <nav class="header__navbar-admin">
            <div class="header__navbar-left-admin">
                <div class="header__navbar-list-left-admin">
                    <div class="pentagon-admin"></div>
                    <div class="header__navbar-item-admin">
                        <a href="" class="header__navbar-item-link-admin">DANASA</a>
                    </div>
                </div>
            </div>
            <div class="header__navbar-right-admin">
                <div class="search-field">
                    <div class="input-group">
                        <div class="input-group-icon-left">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" class="input-search" placeholder="Tìm kiếm">
                    </div>
                </div>

                <div class="header__navbar-right-2">
                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button"
                                class="nav-link count-indicator dropdown-toggle btn btn-primary-notifi"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bell"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div>

                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button" class="nav-link count-indicator dropdown-toggle btn btn-primary-mess"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-envelope"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div>

                    <div class="nav-item nav-profile">
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle btn btn-primary" style="position: relative;
                                padding: 3rem 0;" aria-haspopup="true" aria-expanded="false">
                                <div class="nav-profile-text">
                                    <p class="mb-1 text-black">Xin chào Admin!</p>
                                </div>

                                <div class="nav-profile-img" style="position: relative;
                                    top: 1rem;">
                                    <i class="fa-solid fa-circle-user"></i>
                                    <span class="availability-status online"></span>
                                </div>
                            </button>
                            <div class="show-drop-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</header>
<div class="container-page-admin-wrap">
    <div class="grid" style="display: flex;">
        <div class="sidebar">
            <ul>
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-chart-line"></i>
                            <a href="#">Thống kê</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/statistics">Doanh thu</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/sales">Doanh số</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-newspaper"></i>
                            <a href="#">Tin tức </a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>
                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-news">Xem tin tức</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-news">Tạo tin tức</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-sharp fa-solid fa-user" style="font-size: 1.5rem;"></i>
                            <a href="#">Tài khoản</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-cus">Xem tài khoản</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/delete-cus" >Xóa tài khoản</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-regular fa-calendar-days" style="font-size: 1.5rem;"></i>
                            <a href="#">Lịch trình</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-schedule" >Xem lịch trình</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/delete-schedule">Tạo lịch trình</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

        <div class="container-content">
            <div class="content-main" style="padding: 3rem;">
                <div class="title">
                    <div class="title-content">
                        <i class="fa-solid fa-trash"></i>
                        <h2>XÓA TÀI KHOẢN</h2>
                    </div>
                    <div class="line-straight-xoaTK"></div>
                </div>

                <div class="content-infor-customer">
                    <div class="content-row-1">
                        <div class="content-left">
                            <p>Nhập SĐT:</p>
                            <input id="phonenumber" name="phonenumber" rules="required" type="tel" class="form-control">

                        </div>
                        <div class="content-right">
                            <p>Username *</p>
                            <input id="text" name="username" rules="required" type="text" class="form-control">

                        </div>
                    </div>
                    <div class="content-row">
                        <div class="content-text">
                            <p>Họ và tên hành khách *</p>
                            <input id="text" name="username" rules="required" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="content-row">
                        <div class="content-text">
                            <p>Số điện thoại *</p>
                            <input id="phonenumber" name="username" rules="required" type="phonenumber"
                                class="form-control">
                        </div>
                    </div>

                    <div class="content-row">
                        <div class="content-text">
                            <p>Email *</p>
                            <input id="email" name="username" rules="required" type="email" class="form-control">
                        </div>
                    </div>

                    <div class="content-row-2">
                        <div class="content-row-2-left">
                            <p>Tỉnh/TP *</p>
                            <select id="province" name="province" rules="required" class="form-control">
                                <option value="">Chọn Tỉnh/TP</option>
                                <option value="1">Hà Nội</option>
                                <option value="2">Hải Phòng</option>
                                <option value="3">Đà Nẵng</option>
                                <option value="4">TP. HCM</option>
                            </select>
                        </div>

                        <div class="content-row-2-right" style=" margin-right: 15rem;">
                            <p>Quận/Huyện *</p>
                            <select id="district" name="district" rules="required" class="form-control">
                                <option value="">Chọn Quận/Huyện</option>
                                <option value="1">Hải Châu</option>
                                <option value="2">Hòa Khánh</option>
                                <option value="3">Cẩm Lệ</option>
                            </select>
                        </div>
                    </div>

                    <div class="content-row">
                        <div>
                            <button>Remove
                                <span>
                                    <i class="fa-solid fa-x"
                                        style="font-size: 1.4rem; font-weight: bolder; padding-left: .5rem;"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var navLinkParents = document.querySelectorAll(".nav-link-parent");

    navLinkParents.forEach((navLinkParent) => {
        var dropdownIcon = navLinkParent.querySelector(".dropdown");
        navLinkParent.addEventListener("click", (event) => {
            event.stopPropagation();
            var navLinkShow = navLinkParent.nextElementSibling;
            navLinkShow.classList.toggle("active");
            dropdownIcon.classList.toggle("fa-caret-down");
            dropdownIcon.classList.toggle("fa-caret-up");
        });
    });

    var item = document.querySelectorAll(".nav-link-show-item");
    item.forEach((a) => {
        var b = a.querySelector("i");
        a.addEventListener("click", () => {
            b.classList.toggle("fa-caret-right");
        })
    })
</script>