<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content">
    <div class="container">
      <h1 style="font-size: 3em; margin: 1em 0;">Delete News</h1>
      <p style="font-size: 1.5rem;">Bạn có chắc chắn muốn xóa tin tức này ?</p>

      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="button" class="deletebtn">OK</button>
      </div>
    </div>
  </form>
</div>